#nav-indicator {
    --nav-indicator-height:1.6em;

    width: 100%;
    flex-shrink: 1;
    background-color: var(--secondary-colour);
    margin: 1em 0;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--nav-indicator-height);
    padding: 0 0.6em;
    column-gap: 0.6em;
}

.project-nav-button {
    height: 0.35em;
    flex-grow: 1;
    background-color: var(--highlight-colour);
    border: none;
    position: relative;
}

.project-nav-button[aria-current="false"] {
    opacity: .5;
}

.project-nav-button::before {
    /* Increases size of button's click hitbox */
    content: "";
    position: absolute;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: var(--nav-indicator-height);
    pointer-events: auto;
    cursor: pointer;
}

#nav-container {
    display: flex;
}

#nav-link-names {
    flex-grow: 1;
    display: none;
}

@media screen and (min-width: 768px) {
    #nav-indicator {
        width: unset;
        flex-direction: column;
        row-gap: 0.6em;
        width: fit-content;
    }

    #nav-link-names {
        display: flex;
    }

    #nav-container {
        flex-basis: 25%;
    }
    
}