#nav-indicator {
    width: 100%;
    flex-shrink: 1;
    background-color: var(--secondary-colour);
    margin: 1em 0;
    border-radius: 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;

    padding: 0.6em;
    column-gap: 0.6em;
}

.project-nav-button {
    height: 0.35em;
    flex-grow: 1;
    background-color: var(--highlight-colour);
    border: none;
}

.project-nav-button[aria-current="false"] {
    opacity: .5;
    padding: 1px;
    width: 0;
    height: 0;
}

#nav-container {
    display: flex;
}

#nav-link-names {
    flex-grow: 1;
    display: none;
}

@media screen and (min-width: 768px) {
    #nav-indicator {
        width: unset;
        flex-direction: column;
        row-gap: 0.6em;
        width: fit-content;
    }

    #nav-link-names {
        display: flex;
    }

    #nav-container {
        flex-basis: 25%;
    }
    
}