.project-card {
    width: 100%;
    flex-grow: 1;
    flex-basis: 75%;
    display: flex;
    flex-direction: column;

    height: 40vh;
}

.card-img {
    height: 10em;
    width: 12em;
    background-color: red;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-card a {
    text-transform: uppercase;
    display: block;
}

@media screen and (min-width: 768px) {
    .card-img {
        order: 2;
    }

    .project-card {
        flex-direction: row;
    }

    .project-card > * {
        width: 50%;
    }
    
}