.project-card {
    width: 100%;
    flex-grow: 1;
}

.card-img {
    height: 10em;
    width: 12em;
    background-color: red;
}

.project-card a {
    text-transform: uppercase;
    display: block;
}