@keyframes subtleMove {

    /* Sublte animation for image container on project card */
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(-8px) scale(1.009);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

h2 {
    font-size: 1.7em;
    color: var(--highlight-colour);
}

.project-card {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 500px;

    /* Preserves whitespace and new lines */
    white-space: pre-wrap;
}

.project-card:not(.current) {
    visibility: hidden;
}

.project-card.next {
    top: var(--offset);
}

.project-card.prev {
    bottom: var(--offset);
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    overflow: hidden;
    aspect-ratio: 1/1;
    max-width: 100%;
    margin-bottom: 0.5em;
}

.card-img > img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.card-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2em;
    row-gap: 1em;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9em;
    text-underline-offset: 0.18em;
    letter-spacing: 0.05em;
    margin: 0.5em 0;
}

.card-links>a {
    color: var(--text-colour);
    padding: 0.4em;
    border-bottom: 1px solid #80808080;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity, border-color 0.5s;
}

.card-links>a:hover+a,
.card-links>a:has(+ a:hover) {
    /* Grey out the opposite link */
    opacity: 0.50;
}

.card-links>a:hover {
    border-bottom: 1px solid var(--highlight-colour);
    opacity: 1;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    max-width: 100%;
    flex-grow: 1;
}

.card-content> :first-child,
.card-content> :last-child {
    margin: 1rem 0;
}

.card-content > p:first-of-type {
    margin-top: 0;
}

.skill-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0.4em;
    row-gap: 0.4em;
    padding: 0 1.5em;
}

.skill-tags>.skill:hover {
    border-color: var(--highlight-colour);
    cursor: pointer;
}

.skill {
    padding: 0.35em 0.55em;
    background-color: var(--secondary-colour);
    color: var(--text-colour);
    --darker-highlight-colour: rgb(from var(--highlight-colour) r g b / 0.6);
    border: 2px solid var(--darker-highlight-colour);
    border-radius: 2em;
    font-size: 0.8em;
    font-weight: 500;
}

.skill-tags:has(.skill[data-selected="true"]) .skill[data-selected="false"] {
    opacity: 0.5;
}

.skill[data-selected="true"] {
    border-color: rgb(from var(--highlight-colour) r g b / 0.75);
}

@media screen and (min-width: 768px) {

    .project-card.prev,
    .project-card.next {
        visibility: visible;
        transition: visibility 1s;
    }

    .card-content {
        width: 50%;
        max-height: 28em;
    }

    .project-card.prev > .card-content,
    .project-card.next > .card-content{
        opacity: 0;
        transition: opacity 0.15s;
    }

    .project-card.current>.card-content {
        opacity: 1;
        transition: opacity 1s;
    }

    .card-img {
        order: 2;
        max-height: unset;
        max-height: 100%;
        max-width: 100%;
        width: var(--project-card-height);
        animation: subtleMove 5s infinite;
        margin-bottom: 0;
    }

    .project-card.next>.card-img>img,
    .project-card.prev>.card-img>img {
        width: 90%;
        height: 90%;
        opacity: 0.5;
        transition: width 0.6s, height 0.6s;
    }

    .project-card {
        flex-direction: row;
        flex-basis: 75%;
        justify-content: flex-end;

        /* Has to be set for project card container too */
        height: var(--project-card-height);

        scroll-snap-align: center;
    }

    .card-content p {
        padding: 0 1.5em;
        max-width: 750px;
        margin-top: 0;
    }

    .card-img>img {
        width: 100%;
        height: 100%;
        transition: width 0.5s, height 0.5s;
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .card-content {
        font-size: calc(0.3em + 0.65vw + 0.6vh);
    }

}

@media screen and (min-width:768px) and (max-width:1500px) {
    .card-content> :first-child,
    .card-content> :last-child,
    .card-content p {
        margin: 0;
    }

    .card-content > :first-child {
        margin-bottom: 0.2em;
    }
}

@media screen and (min-width: 1350px) {
    .project-card p {
        padding: 0 3em;
    }

}