#header-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: var(--header-padding);
}

#header-link {
    text-decoration: none;
    width: fit-content;
    display: inline-block;
    margin-bottom: 1em;
}

#name {
    color: var(--text-colour);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}

#secondary {
    margin-top: 0.1em;
    color: var(--highlight-colour);
    font-size: 0.94em;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    #header-link {
        position: absolute;
    }
}

@media screen and (min-width: 1600px) {
    #header-link {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 2000px) {
    #header-link {
        font-size: 1.2em;
    }
}