#project-view {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

#project-card-container {
    position: relative;
    width: 100%;
}

@media screen and (min-width: 950px) {
    #project-view {
        flex-direction: row;
        height: unset;
        flex-grow: 0;
    }
    
}