#project-view {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
}

#project-card-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: var(--project-card-height);
    padding-bottom: var(--project-card-height);
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    #project-view {
        justify-content: center;
        flex-direction: row;
        height: unset;
        flex-grow: 0;
    }

    #project-card-container {
        /* Has to be set for project card too */
        --project-card-height: 50vh;
        height: 100vh;
        
        scrollbar-width: none;
        --webkit-scrollbar-width: none;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    } 

    #nav-filter-container {
        display: flex;
        margin: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    #project-card-container {
        /* Has to be set for project card too */
        --project-card-height: 45vh;
    }
}

@media screen and (min-width: 1200px) {
    #nav-filter-container {
        flex-basis: 24%;
        flex-shrink: 0.5;
        
        position: relative;
    }

    #project-view {
        position: absolute;
        left: calc(-1 * var(--body-padding));
        right: calc(-1 * var(--body-padding));
        width: unset;
    }

    #project-card-container {
        border-left: hsl(from var(--primary-colour) h s calc(l * 0.8)) 2px solid;
        background-color: white;
    }
}