.skills-filter__placeholder img {
    margin-right: 0.5em;
    height: 1.2em;
}

.skills-filter__indicator {
    cursor: pointer;
}

/* 
    PREVIOUSLY USED CLASSES FOR FUTURE REFERENCE 
*/

/* .skills-filter__control { } */

/* .skills-filter__control--is-focused {} */

/* .skills-filter__menu { } */

/* .skills-filter__menu-list { } */

/* .skills-filter__option { } */

/* .skills-filter__option:hover { } */

/* .skills-filter__option--is-focused { } */

/* .skills-filter__option--is-selected { } */