/* Important keyword is necessary to overide React-Select styling */

.skills-filter__control {
    background-color: white !important;
    color: var(--text-colour) !important;
    padding: 0 0.3em;
    /* cursor: text !important; */
    /* border-radius: 10px !important; */
    /* padding-bottom: 3px; */
    /* border-width: 2px !important; */
    /* border-color: hsl(from var(--primary-colour) h 50% 70%) !important; */
    opacity: 0.75;
    border:none !important;
    border: 0;
}

/* .skills-filter__control--is-focused {} */

.skills-filter__input {
    color: var(--text-colour) !important;
    font-size: 1em !important;
}

.skills-filter__placeholder {
    display: flex;
    color: var(--secondary-colour) !important;
    cursor: text !important;
    font-size: 0.90em;
}

.skills-filter__placeholder * {
    vertical-align: middle;
}

.skills-filter__placeholder img {
    margin-right: 0.5em;
    height: 1.2em;
}

.skills-filter__indicator {
    cursor: pointer;
}

.skills-filter__single-value {
    color: var(--text-colour) !important;
}

.skills-filter__menu {
    flex-grow: 1;
    color: var(--text-colour) !important;
}

.skills-filter__menu-list {
    padding: 0 !important;
}

.skills-filter__option {
    color: var(--text-colour) !important; 
    border-radius: 0 !important;
}

.skills-filter__option:hover {
    cursor: pointer;
}

.skills-filter__option--is-focused {
    /* background-color: var(--secondary-colour) !important; */
    color: var(--text-colour) !important;
}

.skills-filter__option--is-selected {
    /* border: 2px double var(--highlight-colour); */
    color: var(--text-colour) !important;
}