/* Important keyword is necessary to overide React-Select styling */

.skills-filter__control {
    background-color: var(--secondary-colour) !important;
    border-radius: 1em !important;
    border-color: var(--highlight-colour) !important;
    color: var(--text-colour) !important;
    padding: 0 0.3em;
    cursor: text !important;
}

.skills-filter__control--is-focused {
    box-shadow: 0 0 0 1px var(--highlight-colour) !important;

    cursor: text !important;
}

.skills-filter__control:has(.skills-filter__value-container--has-value) {
    border-width: 2px;
}

.skills-filter__control:hover {
    border-color: var(--highlight-colour)!important;
    box-shadow: 0 0 0px 1px var(--highlight-colour) !important;
}

.skills-filter__input {
    color: var(--text-colour) !important;
    font-size: 1em !important;
}

.skills-filter__placeholder {
    display: flex;
    color: var(--text-colour) !important;
    opacity: 0.7;
    cursor: text !important;
    font-size: 0.9em;
}

.skills-filter__placeholder * {
    vertical-align: middle;
}

.skills-filter__placeholder img {
    margin-right: 0.5em;
    height: 1.2em;
}

.skills-filter__indicator {
    cursor: pointer;
}

.skills-filter__single-value {
    color: var(--text-colour) !important;
}

.skills-filter__menu {
    flex-grow: 1;
    background-color: var(--secondary-colour) !important;
    color: var(--text-colour) !important;
}

.skills-filter__menu-list {
    padding: 0 !important;
}

.skills-filter__option {
    background-color: var(--secondary-colour);
    color: var(--text-colour) !important; 
}

.skills-filter__option:hover {
    background-color: var(--secondary-colour) !important;
    cursor: pointer;
}

.skills-filter__option--is-focused {
    background-color: var(--secondary-colour) !important;
    color: var(--text-colour) !important;
    border: 2px double var(--highlight-colour);
    border-top: 0;
    border-bottom: 0;
}

.skills-filter__option--is-selected {
    background-color: var(--secondary-colour) !important;
    border: 2px double var(--highlight-colour);
    color: var(--text-colour) !important;
}