#skill-filter-container {
    width: 100%;

    /* Set skill filter text and icon colour */
    --filter-colour: var(--text-colour);
    margin-bottom: 0.5em;
}

#skill-filter-container svg > path {
    fill: var(--filter-colour);
}

#skill-filter-container svg {
    margin-right: 0.25em;
}

#skill-filter-container span {
    /* Setting height makes a small difference, needs inline-block */
    display: inline-block; 
    height: 1.1em; /* set to same height as svg width/height in html */

}

#skill-filter-container span {
    color: var(--filter-colour);
}

#skill-filter-container > div:last-child {
    flex-basis: 70%;
}

@media screen and (min-width: 768px) {
    #skill-filter-container {
        position: absolute;
        transform: translateY(16vh);
        left: 0;
        z-index: 111;
        color: var(--text-colour);
        width: calc(50% - 3em);
        margin: 0 1.5em;
    }
}

@media screen and (min-width: 1200px) {
    #skill-filter-container {
        min-width: fit-content;
        width: 21%;
        margin-left: 2%;
    }
}

.no-projects {
    color: rgb(146, 0, 0);
}