#skill-filter-container {
    width: 100%;
}

#skill-filter-container img {
    mix-blend-mode: difference;
    filter: invert(1);
}

#skill-filter-container > div:last-child {
    flex-basis: 70%;
}

@media screen and (min-width: 768px) {
    #skill-filter-container {
        position: absolute;
        transform: translateY(-200%);
        width: 18%;
        left: 0;
        z-index: 111;
        color: var(--text-colour);
    }
}

.no-projects {
    color: rgb(146, 0, 0);
}