html {
    display: flex;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: var(--body-padding);

    --body-padding: 0.5em;
    --medium-screen-project-stripe-width: 0.75em;
}

#root {
    height: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 480px) {
    body {
        --body-padding: 1em
    }
}

@media screen and (min-width: 768px) {
    body {
        /* Stops project previews affecting content height */
        overflow: hidden;
        --body-padding: calc(0.3em + 0.8vh + 0.9vw);
        background: var(--primary-colour);
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        /* Make space for the project colour stripe on medium screens */
        padding-left: calc(var(--body-padding) + var(--medium-screen-project-stripe-width));
    }
}

@media screen and (min-width: 2000px) {
    body {
        font-size: 1.1em;
    }
}